/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100%;
  margin: 0;
  background: #020403;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: transparent;
}

* {
  box-sizing: border-box;
}